body{
    background-color: #f0f0f0;
    border: 2px solid red;
    margin: auto;
    max-width: 90%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    display: flex;
    justify-content: center;
}